:root{

    --primary:#00E5FF;
    --secondary:#38BDF8;

    --bg:#050816;
    --card:#111827;

    --text:#ffffff;
    --muted:#94A3B8;

    --border:rgba(255,255,255,.08);

    --radius:28px;

    --shadow:
        0 20px 60px rgba(0,0,0,.35);

}